h1 {
    font-size: 25px;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,"Lucida Grande",Arial,sans-serif;
    line-height: 30px;
    margin: 20px 0px;
}

body {
    font-family: Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857;
}

input.submitButton {
    background: #219A34 none repeat scroll 0% 0%;
    margin-right: 10px;
    box-sizing: border-box;
    border: medium none;
    display: inline-block;
    height: 32px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
    color: #FFF;
    margin: 0px;
    vertical-align: top;
    text-align: center;
    float: none;
}

input.backButton {
    background: #666 none repeat scroll 0% 0%;
    box-sizing: border-box;
    border: medium none;
    display: inline-block;
    height: 32px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
    color: #FFF;
    margin: 0px;
    vertical-align: top;
    text-align: center;
    float: none;
}

button {
    background: #666 none repeat scroll 0% 0%;
    box-sizing: border-box;
    border: medium none;
    display: inline-block;
    height: 32px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
    color: #FFF;
    margin: 0px;
    vertical-align: top;
    text-align: center;
    float: none;
}

box {
    width: 120px;
}

.box input{
    float: right;
}