
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Responsive Template 01 | freietemplates.de</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

  <!-- CSS Menu responsive script
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script src="script.js"></script>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id='menubg'>
  </div>
  <div class="container" style="margin-top:-52px;">
  <a class="logo" href="#">Responsive 01</a>
			<div id='cssmenu'>
			<ul>
			   <li><a href='#'>Start</a></li>
			   <li class='has-sub'><a href='#'>Dropdown</a>
				  <ul>
					 <li><a href='#'>Element 1 Element 1 Element 1 Element 1 Element 1</a></li>
					 <li><a href='#'>Element 2</a></li>
					 <li><a href='#'>Element 3</a></li>
				  </ul>
			   </li>
			   <li class='has-sub'><a href='#'>More Dropdown</a>
           <ul>
 					 <li><a href='#'>Element 1</a></li>
 					 <li><a href='#'>Element 2</a></li>
 				  </ul>
         </li>
			   <li><a href='#'>About</a></li>
			   <li><a href='#'>Contact</a></li>
			   <li><a href='#'>Blog</a></li>
			</ul>
			</div>
  </div>

  <div id='jumbotron'>
	<div class="container">
		<h3><strong>Lorem ipsum</strong> dolor sit amet.</h3>
		<p>
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, <strong>sed diam nonumy eirmod tempor</strong> invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
		</p>
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, <strong>sed diam nonumy eirmod tempor</strong> invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
    </p>
    <a href="#"><button class="button-primary">Login</button></a>
	  <a href="#"><button class="button">Regestrieren</button></a>
	</div>
  </div>

  <div class="container">
    <h1>Responsive Template 01</h1>

		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
		</p>

		<hr>

      <div class="row">
        <div class="one-third column value">
        <div class="centering">
          <h2><strong>33 %</strong></h2>
          <h5>Lorem Ipsum</h5>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
        </div>
        </div>
        <div class="one-third column value">
        <div class="centering">
          <h2><strong>33 %</strong></h2>
          <h5>Lorem Ipsum</h5>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
        </div>
        </div>
        <div class="one-third column value">
        <div class="centering">
          <h2><strong>33 %</strong></h2>
          <h5>Lorem Ipsum</h5>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
        </div>
        </div>
      </div>

      <hr>

	<h1>Lorem ipsum dolor sit amet, onsetetur sadipscing elitr.</h1>
		<p>
		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
		</p>

    <hr>

    <!-- Standard Headings -->
    <h1>Heading h1</h1>
    <h2>Heading h2</h2>
    <h3>Heading h3</h3>
    <h4>Heading h4</h4>
    <h5>Heading h5</h5>
    <h6>Heading h6</h6>

    <hr>

    <h1>Formulare</h1>
    <form>
      <div class="row">
        <div class="six columns">
          <label for="exampleEmailInput">E-Mail</label>
          <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput">
        </div>
        <div class="six columns">
          <label for="exampleRecipientInput">Grund der Nachricht</label>
          <select class="u-full-width" id="exampleRecipientInput">
            <option value="Option 1">Fragen</option>
            <option value="Option 2">Probleme</option>
            <option value="Option 3">Feedback</option>
          </select>
        </div>
      </div>
      <label for="exampleMessage">Message</label>
      <textarea class="u-full-width" placeholder="Ihre Nachricht..." id="exampleMessage"></textarea>
      <label class="example-send-yourself-copy">
        <input type="checkbox">
        <span class="label-body">Eine Kopie an mich selbst senden</span>
      </label>
      <input class="button-primary" type="submit" value="Submit">
    </form>

    <hr>

    <h1>Tabellen</h1>
      <table class="u-full-width">
      <thead>
        <tr>
          <th>Orga</th>
          <th>Start</th>
          <th>Ziel</th>
          <th>Datum</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>DRK</td>
          <td>DE</td>
          <td>FR</td>
          <td>2.2.12</td>
        </tr>
        <tr>
          <td>Tu Gutes</td>
          <td>JAP</td>
          <td>FI</td>
          <td>01.09.2015</td>
        </tr>
      </tbody>
      </table>

  </div>

  <div id='footer'>
	<div class="container">
	  <div class="row">
        <div class="one-third column value">
			<p><strong>Copyright</strong></p>
            <ul>
                <li><a href="#">Startseite</a></li>
                <li><a href="#">Impressum</a></li>
                <li><a href="#">nach oben</a></li>
            </ul>
        </div>
        <div class="one-third column value">
			   <strong>Links</strong>
        </div>
        <div class="one-third column value">
        <strong>Test</strong>
        </div>
      </div>
	</div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
